@main-box-shadow: 0px 0px 7px 5px black;
@img-box-shadow:0px 0px 3px 2px black;
@button-box-shadow: 0px 0px 3px 2px black;
@button-box-shadow-hover: 2px 2px 3px 2px black;
@header-box-shadow:0px 3px 3px 1px black;

@complete-entry-backgound: rgb(39, 39, 39);
@incomplete-entry-backgound: rgb(75, 75, 74);

@beautiful-green: #306b34;

.screen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
}

body {
  background-color: rgb(88, 82, 82);
  scrollbar-color: black;
}

header {
  width: 100%;
  height: 50px;
  margin-bottom: 5%;
  box-shadow: @header-box-shadow;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
}
.main-wrapper {
  max-width: fit-content;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

input {
  border: none;
  border-radius: 5px;
  background-color: rgb(151, 151, 151);
}
textarea {
  border-radius: 5px;
  border: none;
  background-color: rgb(151, 151, 151);
}

button {
  border: none;
  width: 40%;
  box-shadow: @button-box-shadow;
  border-radius: 7px;
  color: bisque;
  font-weight: 500;
  background: rgb(56, 101, 224);

  transition: all 0.5s;
  &:hover {
    background: rgb(121, 130, 173);
    color: rgb(0, 0, 0);
    box-shadow: @button-box-shadow-hover;
  }
  &:active {
    background: black;
  }
  &:disabled {
    background: gray;
  }
}

.entry-creation-form {
  background: rgb(49, 64, 77);
}

.entries-container {
  display: grid;
  row-gap: 10%;
  column-gap: 10%;
  grid-template-columns: repeat(3, 1fr);
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: @img-box-shadow;
}

.entry-card-incomplete {
  height: 40%;
  overflow-y: scroll;
  background-color: @incomplete-entry-backgound;
  border-radius: 2%;
  box-shadow: @main-box-shadow;
}

.entry-card-complete {
  height: 40%;
  overflow-y: scroll;
  background-color: @complete-entry-backgound;
  color: blanchedalmond;
  box-shadow: @main-box-shadow;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: @main-box-shadow;
}

form button {
  margin-bottom: 5%;
}

.entry-edit-create-container:extend(.screen-center) {
  width: 100%;
  display: flex;
  justify-content: center;
}

.entry-edit-form {
  background-color: gray;
}

.due-date-p {
  font-size: small;
}

.due-date-expiration-notification-p {
  color: #790716;
}

.entry-creation-button {
  height: 100%;
}
